body {
    padding: 30px;
}

.box {
    background-color: lightcoral;
    width: 70px;
    height: 150px;
    animation: resize 3s infinite ease-in;
}

@keyframes resize {
    0% {
        width: 70px;
    }
    50% {
        background-color: blueviolet;
        height: 50px;
    }
    100% {
        width: 200px;
    }
}