* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height.
If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width */

}
body {
    line-height: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.footer {
    background-color: #191645;
    padding: 70px 0; /*top and bottom 70, right and left 0*/
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

 ul {
    list-style-type: none;
 }

 .footer-col {
    width: 25%;
    padding: 0 15px;
 }

 .footer-col h4 {
    font-size: 17px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 525;
    position: relative;
 }

 /* designing the underline */
 .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #43c6ac;
    height: 2.5px;
    box-sizing: border-box;
    width: 70px;
 }

 /* margin-bottom for all the entries in the list, except the last child */
 .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
 }

 .footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #e5e5e5;
    font-weight: 300;
    display: block;
    transition: all 0.3 ease;
 }

 .footer-col ul li a:hover {
    color: #43c6ac;
    padding-left: 8px; /* 'moving' effect to the right*/
 }

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}