@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem 3%;
}

h1 {
    font-size: 2.5rem;
    color: #CF5F4B;
}

p {
    font-size: 0.95rem;
}

a {
    text-decoration: none;
    color: #CF5F4B;
    font-weight: 900;
}

a:hover {
    color: #f3e3d3;
    font-size: 1.2rem;
}

header > img {
    /*this will center the logo within the header element*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*this will ensure logo's responsiveness*/
    width: 7%;
    height: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#promo {
    background-color: #CF5F4B;
}

section > img {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    padding: 35px;
}

#blog {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

article {
    flex: 1;
}

.push {
    background: #CF5F4B;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 12px 32px;
    border-radius: 12px;
    font-size: 1rem;
    background: #f3e3d3;
    color: #CF5F4B;
    transform: translateY(-4px);
    will-change: transform;
    transition: transform 250ms;
}

.push:hover .front {
    transform: translateY(-6px);
}

.push:active .front {
    transform: translateY(-1px);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 45px;
}

footer div {
    flex: 1;
}

footer img {
    width: 5%;
    height: auto;
}

footer p {
    font-size: 0.7rem;
}