* {
    box-sizing: border-box;
}

.btn-start {
    background-color: lightcoral;
    color: whitesmoke;
    border: 2px solid lightcyan;
    border-radius: 15px;
    margin: 15px auto;
    display: block; /*and now the margin takes effect on the button*/
    width: 10rem; /*1 rem = 16px*/
    height: 2rem;
}

.container {
    width: 800px;
    height: 900px;
    border: 4px solid black;
    margin: 20px auto;
    background-image: url(./img/bckground.jpg);
    background-size: cover;
    display: grid; /*turning the container into a grid to divide it better in order to create the doors*/
    grid-template-columns: repeat(4, 25%); /*4 columns each having 25%*/
    grid-template-rows: repeat(6, 1fr); /*fraction to have the same space available for each row*/
}