* {
    box-sizing: border-box;
}

.btn-start {
    background-color: lightcoral;
    color: whitesmoke;
    border: 2px solid lightcyan;
    border-radius: 15px;
    margin: 15px auto;
    display: block; /*and now the margin takes effect on the button*/
    width: 10rem; /*1 rem = 16px*/
    height: 2rem;
}

.container {
    width: 800px;
    height: 900px;
    border: 4px solid black;
    margin: 20px auto;
    background-image: url(./img/background.jpg);
    background-size: cover;
    display: grid; /*turning the container into a grid to divide it better in order to create the doors*/
    grid-template-columns: repeat(4, 25%); /*4 columns each having 25%*/
    grid-template-rows: repeat(6, 1fr); /*fraction to have the same space available for each row*/
    /*now we rebuild the structure created, naming each part of the grid individually, so we can access them one by one*/
    grid-template-areas: 
        "door7 door19 door13 door2"
        "door16 door1 door8 door22"
        "door3 door10 door21 door14"
        "door9 door15 door18 door6"
        "door23 door4 door11 door20"
        "door12 door24 door5 door17";
}

.image {
    background-image: none;
    background-size: cover;
    background-position: top;
}

.text {
    height: 100%;
    width: 100%;
    color: white;
    padding: 10px;
    border: 2px solid black;
    transition: opacity 1.5s;
}