<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Flexbox</title>
    <link rel="stylesheet" href="flexbox.css">
</head>
<body>
    <!-- Search Bar example -->
    <div class="searchBar">
        <img class="icon" src="./img/search.png" alt="search">
        <input class="searchBox" type="search" name="search" placeholder="Enter your search here">
        <input class="searchButton" type="submit" value="Search" name="search">
    </div>

    <!-- Navigation Bar example -->
    <ul class="navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <!-- Responsive Image gallery example -->
    <div class="gallery">
        <img class="item" src="./img/burger.jpg" alt="burger" style="width: 240px; height: 180px;">
        <img class="item" src="./img/curry.jpg" alt="curry" style="width: 240px; height: 180px;">
        <img class="item" src="./img/pancakes.jpg" alt="pancakes" style="width: 240px; height: 180px;">
        <img class="item" src="./img/pizza.jpg" alt="pizza" style="width: 240px; height: 180px;">
        <img class="item" src="./img/salmon.jpg" alt="salmon" style="width: 240px; height: 180px;">
        <img class="item" src="./img/steak.jpg" alt="steak" style="width: 240px; height: 180px;">
    </div>

</body>
</html>