<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Flexbox</title>
    <link rel="stylesheet" href="flexbox.css">
</head>
<body>
    <!-- Search Bar example -->
    <div class="searchBar">
        <img class="icon" src="./img/search.png" alt="search" style="width: 24px; height: 24px;">
        <input class="searchBox" type="search" name="search" placeholder="Enter your search here">
        <input class="searchButton" type="submit" value="Search" name="search">
    </div>

    <!-- Navigation Bar example -->
    <ul class="navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</body>
</html>