@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;400&display=swap');

* {
    color: #2D176A;
}

html {
    font-family: 'Anek Bangla', sans-serif;

}
body {
    background-color: #FA7424;
    padding: 3rem 3rem 0 3rem;
    margin-bottom: 0px;
}

.container {
    background-color: #FFFDFC;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0; /*alligns with H1*/
}

ul li {
    margin: 10px 50px;
}

a {
    text-decoration: none;
}

button {
  background-color: #FFFDFC;
  border-color: #2D176A;
  border-radius: 50px;
  padding: 0px 48px;
  font-family: 'Anek Bangla', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
}

.hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 100px; */
}

#hero {
    transform: scaleX(-1); /*flipped the image based on the X axis*/
    width: 500px;
}
