@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;400&display=swap');

* {
    color: #2D176A;
}

html {
    font-family: 'Anek Bangla', sans-serif;
    font-weight: 700;
}

body {
    background-color: #FA7424;
    padding: 3rem 3rem 0 3rem;
    margin-bottom: 0px;
}

.container {
    background-color: #FFFDFC;
    padding: 2rem 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0; /*alligns with H1*/
}

ul li {
    margin: 10px 50px;
}

a {
    text-decoration: none;
}

button {
  background-color: #FFFDFC;
  border-color: #2D176A;
  border-radius: 50px;
  padding: 0px 48px;
  font-family: 'Anek Bangla', sans-serif;
  font-weight: 700;
}

h1 {
    font-weight: 900;
    font-size: 5rem;
    max-width: 40%;
    display: inline-block;
    overflow-wrap: break-all;
    padding-left: 3.5rem;
}

.hero {
    max-width: fit-content;
    background-image: url("./hero.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 700px;
    
}

.bottom {
    display: flex;
    justify-content: space-around;
}

#scroll {
    width: 30px;
    margin-left: 20px;
}